/*
 * Light Palettes
 */
$palette-primary: (
  50: #f5f2fe,
  // white overlay 75%
  100: #d1c4f3,
  // white overlay 50%
  200: #a389e7,
  // white overlay 25%
  300: #764fdc,
  400: #551ce8,
  500: #4915d1,
  600: #3f12b5,
  // black overlay 25%
  700: #360f9d,
  // black overlay 50%
  800: #240a68,
  // black overlay 75%
  900: #120534,
  A100: #ede6ff,
  A200: #a380ff,
  A400: #5b1efb,
  A700: #4e11ee,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$palette-secondary: (
  50: #ffffff,
  // white overlay 75%
  100: #fdf0d6,
  // white overlay 50%
  200: #fce2ad,
  // white overlay 25%
  300: #fbd484,
  400: #fbd07a,
  500: #fac65c,
  600: #f9bc3e,
  // black overlay 25%
  700: #bc9545,
  // black overlay 50%
  800: #7d632e,
  // black overlay 75%
  900: #3e3117,
  A100: #ffffff,
  A200: #fffaf0,
  A400: #ffd88a,
  A700: #fed071,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$palette-success: (
  50: #ffffff,
  // white overlay 75%
  100: #ccf0d5,
  // white overlay 50%
  200: #99e3ac,
  // white overlay 25%
  300: #66d582,
  400: #4ad06c,
  500: #34c759,
  600: #2eaf4e,
  // black overlay 25%
  700: #269542,
  // black overlay 50%
  800: #1a632c,
  // black overlay 75%
  900: #0d3116,
  A100: #fbfffc,
  A200: #9bf9b3,
  A400: #4ae371,
  A700: #40d465,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$palette-error: (
  50: #ffffff,
  // white overlay 75%
  100: #f8c7c4,
  // white overlay 50%
  200: #f29089,
  // white overlay 25%
  300: #ec5a4e,
  400: #ed3a2c,
  500: #e62314,
  600: #ca1f12,
  // black overlay 25%
  700: #ad1a0f,
  // black overlay 50%
  800: #721109,
  // black overlay 75%
  900: #390805,
  A100: #fffafa,
  A200: #ff9c94,
  A400: #fe3e2f,
  A700: #f23021,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$palette-border: (
  50: #ffffff,
  // white overlay 75%
  100: #f0f0f1,
  // white overlay 50%
  200: #e2e2e3,
  // white overlay 25%
  300: #d4d4d5,
  400: #cfcfd0,
  500: #c6c6c8,
  600: #c0c0c2,
  // black overlay 25%
  700: #959596,
  // black overlay 50%
  800: #636364,
  // black overlay 75%
  900: #313132,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ededff,
  A700: #d4d4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/*
 * Dark Palettes
 */
$palette-primary-dark: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #dccef7,
  400: #cab3f3,
  500: #b799ef,
  600: #a47feb,
  700: #9264e7,
  800: #7f4ae3,
  900: #6c2fde,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d5c0fb,
  A700: #c6adf5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$palette-secondary-dark: (
  50: #ffffff,
  100: #ffffff,
  200: #fffcea,
  300: #fffce9,
  400: #fff9cb,
  500: #fff5ac,
  600: #fff18d,
  700: #ffee6f,
  800: #ffea50,
  900: #ffe632,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fffbdf,
  A700: #fff8c5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$palette-success-dark: (
  50: #ffffff,
  100: #ffffff,
  200: #edfaf0,
  300: #b5eac2,
  400: #9de4af,
  500: #85dd9b,
  600: #6dd687,
  700: #55d074,
  800: #3dc960,
  900: #32b553,
  A100: #ffffff,
  A200: #fcfffd,
  A400: #a5f0b8,
  A700: #96e6aa,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$palette-error-dark: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffc3bf,
  400: #ffa6a1,
  500: #ff8982,
  600: #ff6c63,
  700: #ff4f45,
  800: #ff3226,
  900: #ff1508,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffb9b5,
  A700: #ffa19b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$palette-border-dark: (
  50: #d4d4d4,
  100: #adadae,
  200: #919192,
  300: #6d6d6f,
  400: #5e5e5f,
  500: #4f4f50,
  600: #404041,
  700: #313131,
  800: #212122,
  900: #121212,
  A100: #c0c0de,
  A200: #7e7eba,
  A400: #595979,
  A700: #575761,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
